@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: "sans-serif", "Arial";
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

header {
  background-color: #0fcf0f;
}

header .headerlogo {
  text-align: center;
  margin-bottom: 0;
}

header .headerlogo img {
  width: 150px;
  margin: 30px auto 0;
}

header h1 {
  text-align: center;
  font-size: 8px;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.athd {
  border-left: solid 5px #0fcf0f;
  background: #82f882;
  padding-left: 30px;
}

.article {
  padding: 30px;
}

.article p {
  line-height: 1.8;
}

.mainflex {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainflex .mainarticle {
  width: 75%;
  background: #fff;
}

.mainflex .mainarticle .main-header h1 {
  padding: 30px;
}

.mainflex .mainarticle .main-header p {
  padding-left: 30px;
}

.mainflex .mainarticle .time {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

.mainflex .mainarticle article .article-image {
  width: 80%;
  margin: 0 auto;
}

.mainflex .aside {
  width: 25%;
}

.mainflex .aside .aside-c {
  background: #fff;
  margin: 20px 30px;
}

.mainflex .aside .aside-c .c-title {
  margin: 0;
  margin-left: 30px;
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: solid 2px #aaa;
}

.mainflex .aside .aside-c .c-title h3 {
  margin: 0;
  display: inline-block;
  border-bottom: solid 2px #0fcf0f;
}

.mainflex .aside .aside-c li {
  padding-bottom: 20px;
  position: relative;
}

.mainflex .aside .aside-c li a:hover {
  opacity: 0.5;
}

.mainflex .aside .aside-c .a::after {
  content: url(右.png);
  position: absolute;
  top: -110px;
  right: -90px;
  margin-top: -12px;
  font-family: "FontAwesome";
  -webkit-transform: scale(0.06);
          transform: scale(0.06);
}

.mainflex .aside .aside-c .b::after {
  content: url(右.png);
  position: absolute;
  top: -110px;
  right: -90px;
  margin-top: -12px;
  font-family: "FontAwesome";
  -webkit-transform: scale(0.06);
          transform: scale(0.06);
}

.mainflex .aside .aside-c .c::after {
  content: url(右.png);
  position: absolute;
  top: -110px;
  right: -90px;
  margin-top: -12px;
  font-family: "FontAwesome";
  -webkit-transform: scale(0.06);
          transform: scale(0.06);
}

.mainflex .aside .aside-c .d::after {
  content: url(右.png);
  position: absolute;
  top: -110px;
  right: -90px;
  margin-top: -12px;
  font-family: "FontAwesome";
  -webkit-transform: scale(0.06);
          transform: scale(0.06);
}

.mainflex .aside .intro {
  margin: 20px 30px;
  padding: 10px;
  border: solid 3px #333;
  position: relative;
  font-size: 0.8rem;
  background: #fff;
}

.mainflex .aside .intro::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: springgreen solid 3px;
  z-index: -1;
}

.mainflex .link-title {
  margin: 30px 20px;
  color: #333;
}

.mainflex .link {
  margin: 30px 20px;
  background: #aaf3b3;
  padding-bottom: 10px;
}

.mainflex .link h4 {
  font-size: 1rem;
  font-weight: bold;
}

.mainflex .link h4:hover {
  color: red;
}

.mainflex .link .link-img {
  width: 80%;
  margin: 0 auto;
}

.mainflex .link2 {
  margin: 30px 20px;
  background: #fff;
}

footer {
  background-color: #0fcf0f;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}

footer small {
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */