html{
    font-size: 100%;
}

body{
    margin: 0;
    background-color: #f1f1f1;
    font-family: "sans-serif", "Arial";
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}

header{
    background-color: rgb(15, 207, 15);

    .headerlogo{
        text-align: center;
        margin-bottom: 0;

        img{
            width: 150px;
            margin: 30px auto 0;
        }

    }
    h1{
        text-align: center;
        font-size: 8px;
        margin: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;

    }
}

.athd{
    border-left: solid 5px rgb(15, 207, 15);
    background: rgb(130, 248, 130);
    padding-left: 30px;
}

.article{
    padding: 30px;

    p{
        line-height: 1.8;
    }
}

.mainflex{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .mainarticle{
        width: 75%;
        background: #fff;

        .main-header{
            h1{
                padding: 30px;
            }

            p{
                padding-left: 30px;
            }
        }


        .time{
            display: inline-block;
            width: 20px;
            vertical-align: middle;
        }

        article{
            .article-image{
                width: 80%;
                margin: 0 auto;
            }
        }


    }

    .aside{
        width: 25%;

        .aside-c{
            background: #fff;
            margin: 20px 30px;

            .c-title{
                margin: 0;
                margin-left: 30px;
                margin-top: 10px;
                padding-top: 10px;
                border-bottom: solid 2px #aaa;

                h3{
                    margin: 0;
                    display: inline-block;
                    border-bottom: solid 2px rgb(15, 207, 15);

                }

            }

            li{
                padding-bottom: 20px;
                position: relative;

                a:hover{
                    opacity: 0.5;
                }
                
                
                
            }
            .a::after{
                content: url(右.png);
                position: absolute;
                top: -110px;
                right: -90px;
                margin-top: -12px;
                font-family: "FontAwesome";
                transform: scale(0.06);
    
            }
            .b::after{
                content: url(右.png);
                position: absolute;
                top: -110px;
                right: -90px;
                margin-top: -12px;
                font-family: "FontAwesome";
                transform: scale(0.06);
    
            }
            .c::after{
                content: url(右.png);
                position: absolute;
                top: -110px;
                right: -90px;
                margin-top: -12px;
                font-family: "FontAwesome";
                transform: scale(0.06);

    
            }
            .d::after{
                content: url(右.png);
                position: absolute;
                top: -110px;
                right: -90px;
                margin-top: -12px;
                font-family: "FontAwesome";
                transform: scale(0.06);

    
            }
        }

        .intro{ 
            margin: 20px 30px;
            padding: 10px;
            border: solid 3px #333;
            position: relative;
            font-size: 0.8rem;
            background: #fff;

            
        }

        .intro::before{
            content: "";
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
            border: springgreen solid 3px;
            z-index: -1;
        }

    }

    .link-title{
        margin: 30px 20px;
        color: #333;
    }

    .link{
        margin: 30px 20px;
        background: rgb(170, 243, 179);
        padding-bottom: 10px;

        h4{
            font-size: 1rem;
            font-weight: bold;
            
        }

        h4:hover{
            color: red;
        }

        .link-img{
            width: 80%;
            margin: 0 auto;
            
        }
    }

    .link2{
        margin: 30px 20px;
        background: #fff;
    }
}

footer{
    background-color: rgb(15, 207, 15);
    height: 50px;
    text-align: center;
    padding-top: 20px;

    small{
        font-size: 1rem;
        color: #fff;
    }
}